@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.Loginpopup{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 1  ;
}

.edit-img{
    z-index: 1000;
}
.cross-button{
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

.cross-button img{
    height: 30px;
}

.sign-in{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 50%;
}

.login-popup-title{
    font-size: 25px;
    color: #333;
    margin-top: 30px;
    text-align: center;
}

.sign-in-input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sign-in-input input{
    width: 80%;
    margin-top: 20px;
    padding: 15px;
    margin-left: 10%;
}

.sign-in-input input[type="email"], .sign-in-input input[type="password"]{
    font-size: 1.2rem;
}

.sign-in-input input::placeholder{
    font-size: 1.2rem;
}

.sign-in-input button{
    width: 80%;
    margin-top: 20px;
    padding: 15px;
    margin-left: 10%;
    background-color: rgb(247, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2rem;
}

.sign-in-input p{
    text-align: right;
    padding-right: 10%;
    margin-top: 5px;
}

.sign-in-input p span{
    color: rgb(247, 32, 32);
}

.sign-in-input p span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.login-form{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 85%;
}

.profile-upload{
    margin-top: 25px;
}
.profile-upload img{
    width: 18%;
    margin-left: 41%;
    border-radius: 50%;
    object-fit: contain;
}

.login-text-area{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.name-area{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.name-area input{
    width: 45%;
    margin-left: 0 !important;
}

#lastname{
    margin-left: 10px !important;
}

.login-text-area input{
    width: 80%;
    margin-top: 20px;
    padding: 15px;
    margin-left: 10%;
}

.login-text-area input[type="text"], .login-text-area input[type="password"], .login-text-area input[type="email"]{
    font-size: 1.2rem;
}

.login-text-area input::placeholder{
    font-size: 1.2rem;
}

.checkbox{
    width: 80%;
    margin-left: 10%;
}

.checkbox input{
    width: 5% !important;
    margin-left: 0% !important;
    padding-left: 0% !important;
    padding: 0px !important;
}

.checkbox label{
    font-size: 1rem;
}

.login-text-area p{
    text-align: right;
    padding-right: 10%;
    margin-top: 5px;
}

.login-text-area p span{
    color: rgb(247, 32, 32);    
}

.login-text-area p span:hover{
    text-decoration: underline;
    cursor: pointer;
}


.login-text-area button{
    width: 80%;
    margin-top: 20px;
    padding: 15px;
    margin-left: 10%;
    background-color: rgb(247, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2rem;
}